{
    "env": {
        "development": {
            "presets": [
                ["env", {
                    "modules": false
                }],
                "react"
            ],
            "plugins": [
                "transform-decorators-legacy",
                "transform-class-properties"
            ]
        },
        "test" : {
            "presets": [
                "env",
                "react"
            ],
            "plugins": [
                "transform-decorators-legacy",
                "transform-class-properties"
            ]
        }
    }
}
